---
version: 2
interactions:
    - id: 0
      request:
        host: jobicy.com
        body: ""
        form: {}
        headers: {}
        url: https://jobicy.com/api/v2/remote-jobs?count=20&tag=python
        method: GET
      response:
        body: |4-

            {"apiVersion":"2.0","documentationUrl":"https:\/\/jobi.cy\/apidocs","friendlyNotice":"We appreciate your use of Jobicy API in your projects! Please note that our API access is designed primarily to facilitate broader distribution of our content. We kindly request that you refrain from distributing Jobicy\u2019s job listings to any external job platforms, such as Jooble, Google Jobs, and LinkedIn, among others. To ensure that Jobicy is credited as the original source across various platforms, content in the feeds is published with a slight delay. As our data doesn't change frequently, accessing the Feed a few times daily is sufficient and recommended. Be advised that excessive querying may lead to restricted access. Thank you for understanding and cooperating!","jobCount":20,"xRayHash":"xID_6754ea75238e49.16064914","clientKey":"key_6754ea75238ea","lastUpdate":"2024-12-07 15:33:17","jobs":[{"id":113597,"url":"https:\/\/jobicy.com\/jobs\/113597-senior-site-reliability-engineer","jobSlug":"113597-senior-site-reliability-engineer","jobTitle":"Senior Site Reliability Engineer","companyName":"Dynatrace","companyLogo":"https:\/\/jobicy.com\/data\/server-nyc0409\/galaxy\/mercury\/2022\/02\/5e6df72aa62dc025da4085db6bf5027f.jpeg","jobIndustry":["Software Engineering"],"jobType":["full-time"],"jobGeo":"Anywhere","jobLevel":"Senior","jobExcerpt":"Our Business Insights team is looking for a DevOps to enhance our internal process and scale our delivery capabilities. The focus is to embrace the NoOps thinking and assist with knowledge in areas such as delivery, automation, and remediation. Suppose you have a passion for large-scale deployments interest in growing your skills around Site Reliability&#8230;","jobDescription":"<p>Our Business Insights team is looking for a DevOps to enhance our internal process and scale our delivery capabilities. The focus is to embrace the NoOps thinking and assist with knowledge in areas such as delivery, automation, and remediation. Suppose you have a passion for large-scale deployments interest in growing your skills around Site Reliability Engineering. In that case, joining our team is the right next step! Responsibilities include:<\/p>\n<ul>\n<li>Use your insights into production to translate manual tasks into automated processes.<\/li>\n<li>Tackle the challenge of capacity planning and being as cost-efficient as possible.<\/li>\n<li>Coordinate the product release\/rollout and refine existing processes with your ideas.<\/li>\n<li>Automate monitoring and alerting to enhance the efficiency and reliability of our infrastructure.<\/li>\n<li>Assist in investigating and fixing production incidents.<\/li>\n<li>Leverage the Dynatrace\/Business Insights platform and open it up to our analysts.<\/li>\n<li>Assist our data scientist in their quest for better insights.<\/li>\n<li>Maintain and improve the current solutions.<\/li>\n<\/ul>\n<h2>Qualifications<\/h2>\n<p><u><strong>Minimum Requirements:<\/strong><\/u><\/p>\n<ul>\n<li>Degree in Engineering, Computer Science, Mathematics, or another quantitative field.<\/li>\n<li>3+ years of experience with AWS or Azure.<\/li>\n<li>Solid understanding of CI\/CD and DevOps pipelines.<\/li>\n<li>Highly proficient in Dynatrace\u2019s working language of English.<\/li>\n<\/ul>\n<p><u><strong>Desired Requirements:<\/strong><\/u><\/p>\n<ul>\n<li>Experience with Data and MLOps.<\/li>\n<li>Fond of teamwork, problem-solving, and supporting internal customers<\/li>\n<li>Curiosity about working on high-scale systems.<\/li>\n<li>Experience with Dynatrace (and\/or its competitors).<\/li>\n<li>Fluency in Python.<\/li>\n<li>Ability to deal with ambiguity, prioritizing needs, and delivering results in a dynamic environment.<\/li>\n<\/ul>\n<h2>Additional Information<\/h2>\n<p><strong><u>Expectation<\/u><\/strong>: All Insights team members are expected to travel at least 1 to 2 times per year for annual team meetings &amp; events.<\/p>","pubDate":"2024-12-07 04:10:26"},{"id":74847,"url":"https:\/\/jobicy.com\/jobs\/74847-research-scientist-2","jobSlug":"74847-research-scientist-2","jobTitle":"Research Scientist (Voice AI Foundations)","companyName":"Deepgram","companyLogo":"https:\/\/jobicy.com\/data\/server-nyc0409\/galaxy\/mercury\/2020\/12\/WRILS-201212160008-406229.jpg","jobIndustry":["Data Science"],"jobType":["full-time"],"jobGeo":"USA","jobLevel":"Any","jobExcerpt":"Despite the proliferation of text-based communication, voice rema[...]
    - id: 1
      request:
        host: jobicy.com
        body: ""
        form: {}
        headers: {}
        url: https://jobicy.com/api/v2/remote-jobs?count=15&geo=canada
        method: GET
      response:
        body: |4-

            {"apiVersion":"2.0","documentationUrl":"https:\/\/jobi.cy\/apidocs","friendlyNotice":"We appreciate your use of Jobicy API in your projects! Please note that our API access is designed primarily to facilitate broader distribution of our content. We kindly [...]
    - id: 2
      request:
        host: jobicy.com
        body: ""
        form: {}
        headers: {}
        url: https://jobicy.com/api/v2/remote-jobs?count=30&geo=usa&industry=copywriting
        method: GET
      response:
        body: |4-

            {"apiVersion":"2.0","documentationUrl":"https:\/\/jobi.cy\/apidocs","friendlyNotice":"We appreciate your use of Jobicy API in your projects! Please note that our API access is designed primarily to facilitate broader distribution of our c[...]
    - id: 3
      request:
        host: jobicy.com
        body: ""
        form: {}
        headers: {}
        url: https://jobicy.com/api/v2/remote-jobs?count=10&industry=supporting
        method: GET
      response:
        body: |4-

            {"apiVersion":"2.0","documentationUrl":"https:\/\/jobi.cy\/apidocs","friendlyNotice":"We appreciate your use of Jobicy API in your projects! Please note that our API access is designed primarily to facilitate broader distribution of our content. W[...]
