{
  "openapi": "3.1.0",
  "info": {
    "title": "Remote Jobs API/RSS Feed",
    "description": "Discover and integrate a diverse range of remote job listings with Jobicy's public API, RSS, and XML feeds. This API offers the latest remote job opportunities across various industries and regions, making it a valuable resource for developers and businesses looking to enhance their job feed platforms. Supports filters for job region, industry, and keywords to help you target specific job markets.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://jobicy.com/api/v2"
    }
  ],
  "paths": {
    "/remote-jobs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/count"
        },
        {
          "$ref": "#/components/parameters/geo"
        },
        {
          "$ref": "#/components/parameters/industry"
        },
        {
          "$ref": "#/components/parameters/tag"
        }
      ],
      "get": {
        "operationId": "ListRemoteJobs",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListRemoteJobsOkResponse"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JobsResponse": {
        "type": "object",
        "properties": {
          "apiVersion": {
            "type": "string",
            "example": "2.0"
          },
          "documentationUrl": {
            "type": "string",
            "format": "uri",
            "example": "https://jobi.cy/apidocs"
          },
          "friendlyNotice": {
            "type": "string",
            "example": "We appreciate your use of Jobicy API in your projects! Please note that our API access is designed primarily to facilitate broader distribution of our content. We kindly request that you refrain from distributing Jobicy’s job listings to any external job platforms, such as Jooble, Google Jobs, and LinkedIn, among others. To ensure that Jobicy is credited as the original source across various platforms, content in the feeds is published with a slight delay. As our data doesn't change frequently, accessing the Feed a few times daily is sufficient and recommended. Be advised that excessive querying may lead to restricted access. Thank you for understanding and cooperating!"
          },
          "jobCount": {
            "type": "integer",
            "example": 8
          },
          "xRayHash": {
            "type": "string",
            "example": "xID_6750ed93d2f0c2.10907217"
          },
          "clientKey": {
            "type": "string",
            "example": "key_6750ed93d2f12"
          },
          "lastUpdate": {
            "type": "string",
            "example": "2024-12-04 04:11:04"
          },
          "jobs": {
            "$ref": "#/components/schemas/Jobs"
          }
        },
        "required": [
          "apiVersion",
          "documentationUrl",
          "friendlyNotice",
          "jobCount",
          "xRayHash",
          "clientKey",
          "lastUpdate",
          "jobs"
        ],
        "example": {
          "apiVersion": "2.0",
          "documentationUrl": "https://jobi.cy/apidocs",
          "friendlyNotice": "We appreciate your use of Jobicy API in your projects! Please note that our API access is designed primarily to facilitate broader distribution of our content. We kindly request that you refrain from distributing Jobicy’s job listings to any external job platforms, such as Jooble, Google Jobs, and LinkedIn, among others. To ensure that Jobicy is credited as the original source across various platforms, content in the feeds is published with a slight delay. As our data doesn't change frequently, accessing the Feed a few times daily is sufficient and recommended. Be advised that excessive querying may lead to restricted access. Thank you for understanding and cooperating!",
          "jobCount": 8,
          "xRayHash": "xID_6750ed93d2f0c2.10907217",
          "clientKey": "key_6750ed93d2f12",
          "lastUpdate": "2024-12-04 04:11:04",
          "jobs": [
            {
              "id": 111984,
              "url": "https://jobicy.com/jobs/111984-manager-digital-marketing",
              "jobSlug": "111984-manager-digital-marketing",
              "jobTitle": "Manager - Digital Marketing",
              "companyName": "CrossFit",
              "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2021/12/6966c9ea04a0e651f69f113113a45e27.png",
              "jobIndustry": [
                "Marketing &amp; Sales"
              ],
              "jobType": [
                "full-time"
              ],
              "jobGeo": "Anywhere",
              "jobLevel": "Any",
              "jobExcerpt": "CrossFit is looking to hire a Manager, Digital Marketing to join our Marketing team. You will play a pivotal role in shaping and executing CrossFit’s digital initiatives. This position requires a blend of strategic thinking, technical expertise, and hands-on execution to drive impactful outcomes. The ideal candidate will be a visionary leader who can develop&#8230;",
              "jobDescription": "<p>CrossFit is looking to hire a Manager, Digital Marketing to join our Marketing team. You will play a pivotal role in shaping and executing CrossFit’s digital initiatives. This position requires a blend of strategic thinking, technical expertise, and hands-on execution to drive impactful outcomes. The ideal candidate will be a visionary leader who can develop and implement digital strategies that align with our business objectives while also rolling up their sleeves to actively participate in execution. This role requires a seasoned digital marketer with a proven track record in planning and implementing successful omnichannel campaigns.</p>\n<h2><b>RESPONSIBILITIES</b></h2>\n<p><strong>Email Marketing:</strong></p>\n<ul>\n<li>Designing and executing email campaigns that nurture leads, engage customers, and drive conversions. Responsibilities include general setup, QA, managing email lists, segmenting audiences, a/b testing, analyzing results, and optimizing performance.</li>\n<li>Collaborate cross-functionally to continuously improve lifecycle marketing strategies and the customer journey.</li>\n<li>Generate reports to track business KPIs and inform strategic decisions.</li>\n</ul>\n<p><strong>Digital Strategy Development:</strong></p>\n<ul>\n<li>Formulate and execute comprehensive digital marketing strategies aligned with business objectives.</li>\n<li>Stay informed about industry trends, emerging technologies, and digital marketing best practices.</li>\n<li>Develop and maintain a deep understanding of consumer behaviors and the CrossFit brand and ensure the digital experience meets customer needs</li>\n</ul>\n<p><strong>Campaign Planning and Execution:</strong></p>\n<ul>\n<li>Plan and execute digital campaigns across various channels, including but not limited to the website, email, SMS, SEO, social media, paid media, and the CrossFit app.</li>\n<li>Collaborate with cross-functional teams to ensure seamless execution of campaigns.</li>\n</ul>\n<p><strong>Content Strategy and Creation:</strong></p>\n<ul>\n<li>Develop and oversee the content strategy for digital channels (email &amp; app), ensuring alignment with brand messaging and campaign goals.</li>\n<li>Collaborate with content creators to produce high-quality and engaging digital content.</li>\n</ul>\n<p><strong>Website Operations &amp; CRO:</strong></p>\n<ul>\n<li>Work in collaboration with Director of Growth Marketing to optimize website content and structure for search engines (SEO)</li>\n<li>Utilize the content management system (CMS) to execute regular content updates for the websites, including building new landing pages.</li>\n<li>Use data to apply insights on customer journey and inform site updates</li>\n<li>Continuously look for ways to optimize conversion and customer experience.</li>\n</ul>\n<p><strong>Paid Media:</strong></p>\n<ul>\n<li>Collaborate with Director of Growth Marketing on optimizing paid marketing campaigns for maximum ROI.</li>\n</ul>\n<p><strong>Collaboration with Stakeholders:</strong></p>\n<ul>\n<li>Collaborate with internal teams, including sales, product, social, and customer service, to align digital marketing efforts with overall business goals.</li>\n<li>Foster strong cross-functional collaboration for successful campaign execution.</li>\n</ul>\n<h2><b>KNOWLEDGE AND SKILL</b></h2>\n<ul>\n<li>Proficient in email marketing platforms (e.g., Braze, Klaviyo, Mailchimp, Constant Contact, etc.) and marketing automation tools.</li>\n<li>Proven leadership, ability to establish and maintain a positive work culture among a team, and ability to communicate effectively to both large and small workgroups.</li>\n<li>Strong understanding of email marketing principles, automation, segmentation, and testing methodologies.</li>\n<li>Excellent copywriting skills with the ability to craft compelling and persuasive email content.</li>\n<li>Analytical mindset with the ability to interpret data and generate actionable insights.</li>\n<li>Familiarity with regulations and best practices related to email marketing compliance.</li>\n<li>The discipline, flexibility, and self-starter mentality required to work as part of a high-performing, distributed team.</li>\n</ul>\n<h2><b>EDUCATION/EXPERIENCE</b></h2>\n<ul>\n<li>Bachelor’s degree in Marketing, Communications, Business, or a related field.</li>\n<li>Previous experience (3+ years) in email marketing, preferably within the health and fitness industry.</li>\n</ul>\n<h2> <b>WHAT WE OFFER</b></h2>\n<ul>\n<li>Rich Medical, Dental, and Vision plans</li>\n<li>Unlimited Paid Time Off––empowering you to unplug whenever and however you need to</li>\n<li>Flexible spending account and 401(k) with employer matching at 5%</li>\n<li>CrossFit Gym Membership Reimbursement</li>\n<li>CrossFit Courses Benefit</li>\n<li>Partnership Perks</li>\n</ul>",
              "pubDate": "2024-12-01 04:10:21"
            },
            {
              "id": 111786,
              "url": "https://jobicy.com/jobs/111786-account-manager-3",
              "jobSlug": "111786-account-manager-3",
              "jobTitle": "Account Manager",
              "companyName": "Scorpion",
              "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2021/11/5d0f5219d1a5557d70758202f92e0076.png",
              "jobIndustry": [
                "Sales"
              ],
              "jobType": [
                "full-time"
              ],
              "jobGeo": "USA",
              "jobLevel": "Any",
              "jobExcerpt": "Scorpion is the leading provider of technology and services helping local businesses thrive. We do this by helping customers understand local market dynamics, make the most of their marketing, and deliver experiences their customers will love. We offer tools to know what’s going on with marketing, competitors, and customers. We offer a unique blend of&#8230;",
              "jobDescription": "<div>\n<div>Scorpion is the leading provider of technology and services helping local businesses thrive. We do this by helping customers understand local market dynamics, make the most of their marketing, and deliver experiences their customers will love. We offer tools to know what’s going on with marketing, competitors, and customers. We offer a unique blend of AI support and teams of real human people with local expertise committed to customer success. At Scorpion, we are ready to do whatever it takes to help our clients reach their goals. Our technology and personalized tools bring everything together to help local businesses easily understand their unique business, market, and customer needs. We put SEO, Reviews, Advertising, Email Marketing, Chat and Messaging, Social Media, Website, Lead Management, Appointment Scheduling, and more to work for local businesses. We’re a technology-led service with a human touch.</div>\n</div>\n<div>\n<h2>About the Role:</h2>\n<p>We are dedicated to providing top-notch marketing and digital solutions to enhance our clients&#8217; online presence and business growth. Our team is expanding, and we are looking for a dynamic Account Manager to join our Legal Service team. The ideal candidate will bring a mix of marketing expertise, account management skills, and a passion for delivering exceptional client service.</p>\n<h2>What your success will look like:</h2>\n<ul>\n<li>Manage and grow relationships with existing clients, understanding their needs and delivering customized marketing solutions.</li>\n<li>Drive upselling and cross-selling efforts to maximize account growth and client satisfaction.</li>\n<li>Develop and execute SEO &amp; SEM strategies to improve client visibility and performance in search engine results.</li>\n<li>Work closely with the creative team to oversee the development and execution of marketing campaigns, ensuring they are delivered on time, within budget, and to the client&#8217;s satisfaction.</li>\n<li>Maintain up-to-date knowledge of digital marketing trends and social media platforms to advise clients effectively.</li>\n<li>Conduct regular reviews and reports on account performance, providing insights and recommendations for further improvement.</li>\n<li>Be a proactive liaison between the client and internal teams, ensuring clear communication and seamless project execution.</li>\n<li>Demonstrate a willingness to learn and adapt to new programs and technologies to stay ahead in the industry.</li>\n</ul>\n<h2>Who you are and what you bring:</h2>\n<ul>\n<li>2+ years of work experience in account management or client service, preferably within a marketing agency or a digital marketing company.</li>\n<li>Proven track record of upselling and growing client accounts.</li>\n<li>Solid understanding of SEO &amp; SEM strategies and their implementation in marketing campaigns.</li>\n<li>A proactive approach to managing creative projects, with the ability to anticipate needs and offer solutions.</li>\n<li>Excellent attention to detail, with a keen understanding of budget constraints and project management.</li>\n<li>Working knowledge of social media platforms and how they can be leveraged in marketing strategies.</li>\n<li>Eagerness to learn and master new programs and technologies.</li>\n<li>Strong interpersonal skills, with a personable and professional demeanor, to build and maintain client rapport.</li>\n</ul>\n<h2>Our Scorpion Values:</h2>\n<p><strong>Winning Mindset:</strong>  When our clients win, we win.<br />\n<strong>Genuine Care:</strong>  We only succeed when we are truly invested in our clients and each other.<br />\n<strong>Unmatched Results:</strong>  We deliver more than expected–and then some–driving the best results and impacting lives.<br />\n<strong>Constant Improvement:</strong>  We believe there is always a better way. We learn we ask “What if?” we build and then do it again.<br />\n<strong>Unbeatable Teamwork:</strong>  We come from different backgrounds but have the same vision. We only get there by doing it together, as a team.</p>\n<h2>Our Benefits:</h2>\n<p>We invest in our employees by offering them diverse benefits from best-in-class carriers. These benefits provide enough choice and flexibility to keep our employees and their families healthy and happy —  today and tomorrow.</p>\n<ul>\n<li>100% employer-paid medical, dental, and vision insurance</li>\n<li>Flexible paid time off, so you can rest, relax and recharge away from work</li>\n<li>Employee equity program</li>\n<li>Paid parental leave</li>\n<li>Paid cell phone and service</li>\n<li>Remote office allowance</li>\n<li>Professional development and development courses</li>\n<li>Regular manager check-ins to drive performance and career growth through Lattice</li>\n</ul>\n<h2>Compensation:</h2>\n<p>We acknowledge that states have passed legislation promoting pay transparency. As a national employer, Scorpion has made the decision to post our expected pay rate or pay range (as applicable) in all our job postings, regardless of geographic location.</p>\n<ul>\n<li>The base salary range is $67,500 (entry-level) &#8211; $79,000 (highly experienced), exclusive of fringe benefits. If you are hired at Scorpion, your final base salary compensation will be determined based on factors such as geographic location, skills, education, and/or experience. Additionally, we believe in the importance of pay equity and consider the internal equity of our current team members as a part of any final offer. Please keep in mind that the range mentioned above is the total salary range for the role. Hiring at the maximum of the range would not be typical in order to allow for future &amp; continued salary growth. The compensation package may also include incentive compensation opportunities in the form of discretionary bonuses or commissions.</li>\n<li data-stringify-indent=\"0\" data-stringify-border=\"0\">The compensation package may also include incentive compensation opportunities in the form of discretionary bonuses or commissions.</li>\n</ul>\n</div>\n<div>\n<div>Scorpion is an equal opportunity employer and considers applicants for all positions without regard to race, color, religion or belief, sex, age, national origin, citizenship status, marital status, military/veteran status, genetic information, sexual orientation, gender identity, or physical or mental disability. We believe in creating a dynamic work environment that values diversity and inclusion</div>\n</div>",
              "pubDate": "2024-11-23 04:41:22",
              "annualSalaryMin": "67500",
              "annualSalaryMax": "79000",
              "salaryCurrency": "USD"
            },
            {
              "id": 111788,
              "url": "https://jobicy.com/jobs/111788-product-marketing-manager-2",
              "jobSlug": "111788-product-marketing-manager-2",
              "jobTitle": "Product Marketing Manager",
              "companyName": "Astronomer",
              "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2022/08/7a77cfb5b26b29196d5ed8cd14a3103a.jpg",
              "jobIndustry": [
                "Marketing &amp; Sales"
              ],
              "jobType": [
                "full-time"
              ],
              "jobGeo": "USA",
              "jobLevel": "Any",
              "jobExcerpt": "The Product Marketing team is part of our high-growth Marketing organization which is focused on driving the overall growth strategy through content, launches, sales enablement and strategic GTM activities. We ensure our programs and activities consistently drive activation, engagement, and retention through collaboration with teams like Product Management, Growth, Demand Generation and Sales. We are&#8230;",
              "jobDescription": "<p>The Product Marketing team is part of our high-growth Marketing organization which is focused on driving the overall growth strategy through content, launches, sales enablement and strategic GTM activities. We ensure our programs and activities consistently drive activation, engagement, and retention through collaboration with teams like Product Management, Growth, Demand Generation and Sales.</p>\n<p>We are looking for an experienced and skilled product marketer who will be a key member of the Product Marketing team. In this role, you will be responsible for shaping messaging for the data practitioner audience, driving product and feature launches, competitive intel and GTM content strategy across our products.</p>\n<p>Your work will ensure that prospects and customers know that Airflow is crucial to their data ecosystem, why Astro is the modern platform for DataOps and the best place to run Airflow, and how to get started.</p>\n<p>This role will be based in the US (NYC preferable), with the option to be fully remote or work in one of our offices.</p>\n<h2><strong>What you get to do</strong></h2>\n<ul>\n<li>Messaging and Positioning: Develop compelling messaging, articulate product differentiation and our unique positioning in the market</li>\n<li>Launches: Partner closely with Product Management in defining feature releases. Plan and execute end to end launches of these features to market alongside Demand Generation and Sales.</li>\n<li>Content: Work closely with teams such as Developer Relations, Product Management, Demand Generation, Web, SEO, Sales and Partner Marketing to identify gaps and develop high-quality technical content.</li>\n<li>Field Enablement: Create product and technical enablement content to help field sales teams prospect, generate pipeline, and educate buyers about our differentiation</li>\n<li>Event support: Drive messaging and content for events. Represent the respective product area at field events and meetups.</li>\n<li>Competitive Intelligence: Analyze the industry, synthesize key market trends, research relevant competitors and create succinct sales consumable battlecards</li>\n</ul>\n<h2><strong>What you bring to the role</strong></h2>\n<ul>\n<li><strong>5+ years of relevant work experience (product marketing or product management in the data infrastructure, database management, data engineering or similar space)</strong></li>\n<li>BA/BS degree preferred, but relevant experience will be equally considered</li>\n<li>Ideally, experience with or understanding of workflow management, pipeline development, ETL and/or SDLC.</li>\n<li>The ability to clearly articulate the value of a product or service to technical customers</li>\n<li>Experience leading product or feature launches and contributing to larger launches with a team</li>\n<li>A collaborative spirit, sense of ownership, and willingness to learn</li>\n</ul>\n<h2>Bonus points if you have</h2>\n<ul>\n<li>Familiarity with or knowledge of Airflow and/or similar data products</li>\n<li>Familiarity with Data Engineering, ETL, Observability, DBMS or Data Warehousing products</li>\n<li>Experience with commercializing open-source offerings</li>\n<li>Experience with a developer-focused product</li>\n<li>Experience with or knowledge of cloud computing, CI/CD and modern data engineering best practices</li>\n<li>MBA or Masters in Computer Science, Data Science, Product Management or other Graduate degree</li>\n</ul>\n<p><em>The estimated salary for this role ranges from $125,000 &#8211; $150,000, along with an equity component. This range is merely an estimate, and the width of the range reflects willingness to consider candidates with broad prior seniority. Actual compensation may deviate from this range based on skills, experience, and qualifications</em></p>",
              "pubDate": "2024-11-23 04:33:28",
              "annualSalaryMin": "125000",
              "annualSalaryMax": "150000",
              "salaryCurrency": "USD"
            },
            {
              "id": 108626,
              "url": "https://jobicy.com/jobs/108626-b2b-product-marketing-manager",
              "jobSlug": "108626-b2b-product-marketing-manager",
              "jobTitle": "B2B Product Marketing Manager",
              "companyName": "WorkWhile",
              "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2020/10/WRILS-201029094500-271242.jpg",
              "jobIndustry": [
                "Marketing &amp; Sales",
                "Product &amp; Operations"
              ],
              "jobType": [
                "full-time"
              ],
              "jobGeo": "USA",
              "jobLevel": "Any",
              "jobExcerpt": "WorkWhile hires the best hourly workers and matches them with shifts that fit their skills, location, and life. Employers get access to a quality workforce, while employees get stable income and unmatched benefits, including next-day pay, free virtual healthcare, and upskilling opportunities. We have the audacious goal to align incentives and solve inefficiencies in the&#8230;",
              "jobDescription": "<p>WorkWhile hires the best hourly workers and matches them with shifts that fit their skills, location, and life. Employers get access to a quality workforce, while employees get stable income and unmatched benefits, including next-day pay, free virtual healthcare, and upskilling opportunities.</p>\n<p>We have the audacious goal to align incentives and solve inefficiencies in the labor market, which is a massive addressable market opportunity as recruiting and staffing is a $450 billion annual revenue industry.</p>\n<p>With a small team, we’ve grown extremely fast and earned the trust of both workers and businesses that range from startups to Fortune 500&#8217;s. We see ourselves as a scrappy upstart and delight in outcompeting larger incumbents. Our ambition is that when we succeed, our impact will be measured in GDP growth &#8211; that’s the scale.</p>\n<p>WorkWhile is an Equal Opportunity Employer. Women, minorities, individuals with disabilities and protected veterans are encouraged to apply.</p>\n<h2><strong>About the role</strong></h2>\n<ul>\n<li>Join us as our first B2B marketing hire!</li>\n<li>Develop and implement our B2B product marketing strategy to enhance customer acquisition, retention, and revenue growth, while promoting our flexible workforce solutions</li>\n<li>Define and manage our product positioning, messaging, and value proposition, ensuring a strong appeal to our vision of shaping the future of work</li>\n<li>Create engaging product-focused content and persuasive storytelling that resonates with our diverse audience and communicates our value proposition in offering flexible talent management solutions</li>\n<li>Equip the sales team with effective product-related sales enablement materials, including presentations, case studies, and demo scripts to support their efforts in closing deals</li>\n<li>Collaborate with our product team to plan and execute go-to-market strategies for new products, features, and enhancements, ensuring a successful launch and adoption</li>\n<li>Utilize data and analytics to track product adoption, gather customer insights, and inform marketing decisions, continuously refining our product marketing approach</li>\n<li>Develop and manage relationships with external vendors, agencies, and partners to expand our network and support product marketing initiatives</li>\n<li>Conduct market and competitor research to identify trends, opportunities, and threats, and use insights to inform product marketing strategies</li>\n<li>Generate a consistent flow of inbound leads through various channels, such as SEO, SEM, social media, email marketing, and content marketing, focusing on product promotion</li>\n<li>Manage and optimize lead generation campaigns, including email campaigns, webinars, events, and other strategic initiatives related to our products</li>\n</ul>\n<h2><strong>About you</strong></h2>\n<ul>\n<li>Bachelor&#8217;s degree</li>\n<li>5+ years of experience in B2B marketing, with a focus on product marketing, preferably within a startup or high-growth environment</li>\n<li>Exceptional storytelling and copywriting skills, fostering connection and engagement</li>\n<li>Highly analytical mindset, with the ability to use data to drive decision-making</li>\n<li>Familiarity with SEO, SEM, and other digital marketing channels and tactics</li>\n<li>Outstanding project management skills, with the capacity to manage multiple projects simultaneously</li>\n<li>Resourceful and adaptive, thriving in a fast-paced, dynamic environment</li>\n<li>Excellent interpersonal skills, fostering collaboration and inclusivity across diverse teams</li>\n<li>Committed to our mission of improving the lives of hourly workers</li>\n</ul>",
              "pubDate": "2024-11-20 05:10:37"
            },
            {
              "id": 110777,
              "url": "https://jobicy.com/jobs/110777-growth-marketing-manager-paid-social",
              "jobSlug": "110777-growth-marketing-manager-paid-social",
              "jobTitle": "Growth Marketing Manager, SEO",
              "companyName": "Thumbtack",
              "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2021/05/Jobicy-210503180426-842530.jpg",
              "jobIndustry": [
                "Marketing &amp; Sales"
              ],
              "jobType": [
                "full-time"
              ],
              "jobGeo": "Canada,  USA",
              "jobLevel": "Any",
              "jobExcerpt": "A home is the biggest investment most people make, and yet, it doesn’t come with a manual. That&#8217;s why we’re building the only app homeowners need to effortlessly manage their homes —  knowing what to do, when to do it, and who to hire. With Thumbtack, millions of people care for what matters most, and&#8230;",
              "jobDescription": "<p>A home is the biggest investment most people make, and yet, it doesn’t come with a manual. That&#8217;s why we’re building the only app homeowners need to effortlessly manage their homes —  knowing what to do, when to do it, and who to hire. With Thumbtack, millions of people care for what matters most, and pros earn billions of dollars through our platform. And as one of the fastest-growing companies in a $600B+ industry — we must be doing something right.</p>\n<p>We are driven by a common goal and the deep satisfaction that comes from knowing our work supports local economies, helps small businesses grow, and brings homeowners peace of mind. We’re seeking people who continually put our purpose first: advocating for pros and customers, embracing change, and choosing teamwork every day.</p>\n<p>At Thumbtack, we&#8217;re creating a new era of home care. If making an impact and the chance to do good inspires you, join us. Imagine what we’ll build together.</p>\n<h2><strong>Thumbtack by the Numbers</strong></h2>\n<ul>\n<li>Available nationwide in every U.S. county</li>\n<li>Over 85 million projects started on Thumbtack</li>\n<li>More than 11 million 5-star reviews and counting</li>\n<li>Pros earn billions on our platform</li>\n<li>1000+ employees</li>\n<li>$3.2 billion valuation (June, 2021)</li>\n</ul>\n<h2><strong>About the Marketing Team</strong></h2>\n<p>We’re a team of digital marketers that create engaging campaigns across channels and we work closely with cross-functional partners (Brand, Product, Engineering, and Data Science) to drive growth on both sides of Thumbtack’s marketplace. We are nimble, and innovative and our team’s mission is to help customers solve their home care needs by discovering and using Thumbtack’s platform.</p>\n<h2><strong>About the Role</strong></h2>\n<p>We are looking for a passionate and experienced Technical SEO Manager to drive search success and solve complex SEO problems. You will be responsible for improving Thumbtack search visibility by enhancing the product&#8217;s technical capabilities and performance. The ideal candidate has a proven record of achieving and measuring results through both technical and content-based efforts. You will make data-driven decisions to identify, prioritize, and execute initiatives that deliver incremental traffic and revenue to Thumbtack. You will do this by leading a cross-functional team consisting of content marketing, analytics, engineering, paid search marketing, landing page optimization, and our internal CRO team. You will also partner closely with Engineering, Product, and Design teams to accomplish your goals.</p>\n<h2><strong>Responsibilities</strong></h2>\n<ul>\n<li>Develop a plan to identify and execute on top opportunities to grow organic search traffic and execute your roadmap with partners across the team. Perform regular technical forensic audits and inspections of the site to identify on-page, off-page, site infrastructure and technical issues</li>\n<li>Work closely with Engineering, Product and Design team to lead SEO projects and drive forward across different team roadmaps</li>\n<li>Develop detailed and coherent technical SEO requirements that serve as actionable roadmaps for engineers and product managers, ensuring seamless implementation of recommendations under your leadership.</li>\n<li>Prioritize technical SEO issues based on sound business cases, ensuring projects align with individual and team goals.</li>\n<li>Strong project management skills to scope, lead and execute projects across multiple teams. Familiarity with sprint planning and prioritization preferred.</li>\n<li>Analyze large amounts of data from a variety of sources and prepare executive-ready insights and recommendations to improve SEO campaign performance</li>\n<li>Build and implement roadmap for technical SEO improvements to website</li>\n<li>Manage and optimize content within the CMS to ensure SEO best practices are implemented, including proper use of tags, headers, schema markup, and internal linking structures.</li>\n</ul>\n<h2><strong>What you’ll need</strong></h2>\n<p><em>If you don&#8217;t think you meet all of the criteria below but still are interested in the job, please apply. Nobody checks every box, and we&#8217;re looking for someone excited to join the team.</em></p>\n<ul>\n<li>5+ years of practical SEO experience; with heavy emphasis on the technical side</li>\n<li>A demonstrated track record of increasing rankings, traffic, and revenue through managing and executing SEO strategies and tactics</li>\n<li>Strong familiarity with Google Search Console, Similar Web, Screaming Frog, Botify, Oncrawl and other analytics and reporting tools</li>\n<li>Ability to draw conclusions from data to create business cases, market insights, and requirements for SEO</li>\n<li>Ability to work through others (channel owners, cross-functional, and external partners) to achieve results in a fast-paced environment</li>\n<li>Demonstrated comprehension of Schema.org, HTML, CSS, JavaScript, HTTP status codes and web standards. Understanding of site management, web development principles.</li>\n<li>Excellent written and verbal communication skills, comfortable presenting to senior leadership, strong relationship builder with a collaborative, inclusive working style</li>\n</ul>\n<h2><strong>Bonus points if you have</strong></h2>\n<ul>\n<li>Experience in a high growth tech company and/or two-sided marketplace app/company</li>\n<li>Ability to thrive in ambiguity combined with big-picture thinking and exceptional problem solving skills</li>\n<li>Web development skills (HTML, CSS, JavaScript/jQuery), particularly in the context of A/B testing and/or front end web development</li>\n<li>Experience architecting programs for multiple audiences at various stages of a buyer’s journey</li>\n</ul>\n<p>Thumbtack is a virtual-first company, meaning you can live and work from any one of our approved locations across the United States, Canada or the Philippines.*</p>\n<h2><strong>Benefits &amp; Perks</strong></h2>\n<ul>\n<li>Virtual-first working model coupled with in-person events</li>\n<li>20 company-wide holidays including a week-long end-of-year company shutdown</li>\n<li>Library (optional use collaboration &amp; connection hub) in San Francisco</li>\n<li>WiFi reimbursements</li>\n<li>Cell phone reimbursements (North America)</li>\n<li>Employee Assistance Program for mental health and well-being</li>\n</ul>\n<p>Thumbtack embraces diversity. We are proud to be an equal opportunity workplace and do not discriminate on the basis of sex, race, color, age, pregnancy, sexual orientation, gender identity or expression, religion, national origin, ancestry, citizenship, marital status, military or veteran status, genetic information, disability status, or any other characteristic protected by federal, provincial, state, or local law. We also will consider for employment qualified applicants with arrest and conviction records, consistent with applicable law.</p>",
              "pubDate": "2024-11-18 04:37:30"
            },
            {
              "id": 17394,
              "url": "https://jobicy.com/jobs/17394-senior-manager-analytics-marketing",
              "jobSlug": "17394-senior-manager-analytics-marketing",
              "jobTitle": "Senior Analytics Manager, Marketing",
              "companyName": "Thrasio",
              "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2022/01/70894814667c3f6e6944c2947ecd9cba.jpeg",
              "jobIndustry": [
                "Marketing &amp; Sales"
              ],
              "jobType": [
                "full-time"
              ],
              "jobGeo": "USA",
              "jobLevel": "Senior",
              "jobExcerpt": "We’ve got huge goals, and every Thrasher plays an integral part in getting us there. That’s why we only bring on people who think positively. Who look out for the team. Who tell their egos to take a hike while they get the job done right. From the moment you become a Thrasher, we give&#8230;",
              "jobDescription": "<div class=\"section page-centered\">\n<div>We’ve got huge goals, and every Thrasher plays an integral part in getting us there. That’s why we only bring on people who think positively. Who look out for the team. Who tell their egos to take a hike while they get the job done right.</div>\n<div></div>\n<div>From the moment you become a Thrasher, we give you the freedom you need to take big swings and push what’s possible to get us there. And if you fail, it’s cool—we know you’ll grow spectacularly. What matters is that you’re helping impact millions of people around the world who use our products everyday.</div>\n<div></div>\n<div>Because with every new spatula or pillow brand we grow, with every kitchen scale we develop, our goal is to provide people everywhere with what they need to make the most of every moment &#8211; ensuring that what gets delivered to their door <i>delivers</i>.</div>\n<div></div>\n<div>The Head of Analytics Marketing will drive the development of Thrasio’s platform that manages the execution and experimentation of our advertising spend across multiple marketing channels and ecommerce platforms. They will use analytics to measure the performance of the platform and play a leadership role in collaboration with Product, Engineering, Data Science, and Marketing Channel stakeholders.</div>\n</div>\n<div class=\"section page-centered\">\n<div>\n<h2>Day to Day Responsibilities:</h2>\n<ul>\n<li>Use analytics to develop novel approaches to optimize marketing spend then partner with data science and engineering teams to launch at scale</li>\n<li>Leverage deep understanding of statistics and technical programming skills (Python, R, SQL, etc.) to help your team conduct advanced analytics on large data sets to identify opportunities and validate hypotheses.</li>\n<li>Drive operational excellence through real time monitoring, alerting and automation to ensure a rapid response to changes in market dynamics and customer/supplier behaviors</li>\n<li>Communicate the team vision and progress to C-level stakeholders.</li>\n<li>Build a team of high performing analysts and thoughtfully divide and allocate the roadmap across them</li>\n</ul>\n</div>\n</div>\n<div class=\"section page-centered\">\n<div>\n<h2>Minimum Qualifications:</h2>\n<ul>\n<li>5+ years work experience in a relevant analytics field working with automated algorithmic systems. Experience in Amazon’s ad ecosystem, PPC advertising, ACoS targeting and other ad platforms a plus (e.g. Google PLA, SEO optimization )</li>\n<li>Demonstrated success working with executives at the most senior levels, developing an analytics roadmap, and providing recommendations that direct business strategy and achieve high impact results</li>\n<li>Strong quantitative reasoning and ability to proactively deep dive and dig into data and KPIs.</li>\n<li>Excellent communication and stakeholder management skills at the senior leadership level.</li>\n</ul>\n</div>\n</div>\n<div class=\"section page-centered\">\n<div>\n<h2>Nice to Have, but Not Required:</h2>\n<ul>\n<li>Coding skills are a plus (Sql, Python, R etc)</li>\n</ul>\n<p>We believe that all employees should be paid fairly and equitably.  As of the time of this posting, the expected base annual salary range for this position is $135,000 to $215,000.  (For non-exempt roles, this reflects the expected base annual “salary” as calculated by the base hourly wage multiplied by the expected number of hours worked over a one year period, excluding any overtime and premiums.)   The actual base annual salary will be based on a wide range of factors, including your skills, qualifications, and experience, as well as business needs and limitations.  As a result, compensation may vary within and across similar roles and positions. Please note that the base annual salary range information set forth above is a good faith estimate for this position and actual compensation for any individual may fall outside this range if warranted by the circumstances applicable to that individual. If we identify a role that would be suitable for a broader range of skills and experience such that we would consider hiring at multiple levels, then the range listed above may reflect that breadth.  If offered a position, the actual base annual salary will be contained in your offer letter.</p>\n</div>\n</div>",
              "pubDate": "2024-11-17 05:07:21",
              "annualSalaryMin": "135000",
              "annualSalaryMax": "215000",
              "salaryCurrency": "USD"
            },
            {
              "id": 111598,
              "url": "https://jobicy.com/jobs/111598-growth-manager-3",
              "jobSlug": "111598-growth-manager-3",
              "jobTitle": "Growth Manager",
              "companyName": "Awesome Motive",
              "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2022/01/b8e354b088bd65fd9f299af4f4bc1706.jpeg",
              "jobIndustry": [
                "Marketing &amp; Sales"
              ],
              "jobType": [
                "full-time"
              ],
              "jobGeo": "Anywhere",
              "jobLevel": "Any",
              "jobExcerpt": "We are Awesome Motive, the company behind popular web apps and business tools like All in One SEO (AIOSEO), OptinMonster, MonsterInsights, WPForms, and many others. Over 25 million websites use our tools to get more traffic, subscribers, and sales. We&#8217;re passionate about helping Small Businesses Grow &amp; Compete with the Big Guys, and we believe&#8230;",
              "jobDescription": "<section class=\"styles--3vx-H\" aria-labelledby=\"job-description-title\" data-ui=\"job-description\">\n<div>\n<p>We are Awesome Motive, the company behind popular web apps and business tools like All in One SEO (AIOSEO), OptinMonster, MonsterInsights, WPForms, and many others. Over 25 million websites use our tools to get more traffic, subscribers, and sales. We&#8217;re passionate about helping Small Businesses Grow &amp; Compete with the Big Guys, and we believe marketing plays a crucial role in delivering on that promise.</p>\n<p>This is your chance to join a dynamic team and lead strategic initiatives across marketing channels to acquire, engage, and retain users. You&#8217;ll wear many hats – strategist, analyst, campaign champion – all aimed at one goal: accelerating our growth to reach more small businesses.</p>\n<h2>To love this role, here’s the type of person you are</h2>\n<ul>\n<li>You can leverage imperfect data to create and execute winning digital marketing campaigns and funnels.</li>\n<li>You’re extremely self-driven and curious to find creative answers to complex questions.</li>\n<li>You’re comfortable seeing the big picture and how the small details get you there.</li>\n<li>You love to create systems, tools, and processes for others where they don’t already exist.</li>\n<li>You have a passion for digital marketing and customer acquisition.</li>\n</ul>\n<h2>Common responsibilities include (but are not limited to)</h2>\n<ul>\n<li>Utilize Content Marketing, Email and SMS Marketing, Pay Per Click, Sponsorships, Affiliates and Partnerships, Social Media, and Freemium Software to grow new sales.</li>\n<li>Strategize, plan, and implement both long and short-term processes to meet targets, emphasizing priorities in process development and documentation.</li>\n<li>Facilitate data-driven decision-making by collecting, analyzing, interpreting, and visualizing data, providing actionable insights, and promoting data literacy within the organization.</li>\n<li>Directly manage a team of growth professionals, including independently making decisions to ensure team performance &amp; cohesion.</li>\n<li>Design and implement website A/B tests to improve conversion rates and funnel performance.</li>\n<li>Conceptualize and build new targeted landing pages for various channels and users.</li>\n<li>Provide conversion-focused copywriting feedback and suggestions for newsletters, customer-facing websites, our apps and plugins, and ad copy.</li>\n<li>Strategize and execute high-visibility promotions across all digital marketing channels.</li>\n<li>Research competitor&#8217;s UI/UX trends and work with the team to articulate new features/ideas to help us remain competitive.</li>\n<li>Control qualified traffic to our website by designing and executing strategies to improve our search engine rankings.</li>\n<li>Develop and execute an outbound marketing strategy to complement our existing inbound strengths.</li>\n<li>Maintain in-depth familiarity with growth-related procedures and workflows.</li>\n<li>Respond promptly to growth team members&#8217; queries and escalations.</li>\n<li>Uphold and promote the core values of Awesome Motive.</li>\n<li>Conduct research before escalating issues and proactively identify trends and process improvements.</li>\n<li>Provide oversight for PPC campaigns, PPC keyword research, and program ROAS.</li>\n<li>Provide oversight for Affiliate Marketing and Partnerships.</li>\n<li>Directly supervise the work of content marketing team members.</li>\n<li>Assist in crafting better internal processes and systems by documenting the work of the Growth team.</li>\n</ul>\n</div>\n</section>\n<section class=\"styles--3vx-H\" aria-labelledby=\"job-requirements-title\" data-ui=\"job-requirements\">\n<h2 id=\"job-requirements-title\">Requirements</h2>\n<div>\n<ul>\n<li>Relevant experience:  With over 4 years of experience in growth marketing for product-led/ freemium SaaS, ideally in the B2B/SMB space, you have achieved direct business growth impact through successful growth initiatives.</li>\n<li>SEO &amp; Content Marketing: You are well-versed in best practices for SEO in marketing site content, including blog posts. You are fluent in other commonly used tools such as Semrush, Clearscope, and Ahrefs.</li>\n<li>Copywriting: You have strong personal experience with copywriting, as well as leading and reviewing the work of copywriters. Your expertise in hiring and managing copywriters will be invaluable.</li>\n<li>Email Marketing: You can demonstrate and teach best practices within email marketing, from crafting individual emails to creating complete targeted campaigns and evaluating effectiveness to drive improvement over time. You must have personally written and iterated upon multiple email campaigns for SaaS products.</li>\n<li>CRO / Funnels / Testing &amp; Optimization: You must have expertise in best practices for SaaS products. Knowledge and experience in pricing page tests, countdown timers, popups, etc, is required.</li>\n<li>PPC / Paid Advertising: You have experience in Google Ads, Facebook Ads, and Google Search Console for PPC</li>\n<li>Affiliates &amp; Partnerships: You know how to build and maintain partnership relationships. You have managed an affiliate program.</li>\n<li>Data &amp; Analytics: You are experienced in using GA (preferably GA4), and digital marketing channels.</li>\n</ul>\n<p><strong>Bonus points if you also have:</strong></p>\n<ul>\n<li>You have experience working in the admin area of self-hosted WordPress sites as a site owner/developer/etc.</li>\n<li>You have experience with support specifically for WordPress.</li>\n<li>You have trained managers and had managers as direct reports.</li>\n</ul>\n</div>\n</section>\n<section class=\"styles--3vx-H\" aria-labelledby=\"job-benefits-title\" data-ui=\"job-benefits\">\n<h2 id=\"job-benefits-title\">Benefits</h2>\n<div>\n<p>Working for a fast-growing bootstrapped company is a rare opportunity, one we consider a lifestyle choice rather than a job choice. Our positions are challenging, but also come with amazing advantages and fulfillment to those who earn them. Here’s what we offer.</p>\n<ul>\n<li>Competitive Salary.</li>\n<li>Term Life Insurance and Accidental Death &amp; Dismemberment for all full-time team members during their employment.</li>\n<li>Health, Dental, and Vision Insurance benefits for full-time U.S. employees.</li>\n<li>Health Insurance benefits for all employees in India, Pakistan, Brazil, Philippines, Ukraine, Poland, Romania, Nepal, Kenya, Mexico, Nigeria, Spain &amp; Jamaica.</li>\n<li>Work from your home. We’re spread out all over the world – United States, Canada, Ukraine, India, Pakistan, Singapore, and more.</li>\n<li>Flexible PTO after 90 days of employment. We encourage employees to take the time they need for a vacation, stay healthy, and spend time with friends and family.</li>\n<li>Holidays (based on your location).</li>\n<li>Paid maternity and paternity leave.</li>\n<li>We happily provide or reimburse software you’ll need as well as books or courses that promote continued learning.</li>\n<li>We cover all costs of company travel (including our annual all-company retreat and mini-team meetups).</li>\n<li>Additional Perks include AM Welcome Box for new team members, Yearly Anniversary Gifts, and Technology Stipend each work anniversary.</li>\n<li>We give you the opportunity to solve challenging and meaningful problems that make a difference.</li>\n<li>Ability to work with some of the best people in the business through frequent, if not daily, interactions.</li>\n<li>And in case you were wondering: no politics, no b.s., and no jerks.</li>\n</ul>\n<p><strong>Location </strong>This is a remote position &#8211; our team is spread around the globe! Our home base is in Florida, USA, so company operating hours are 9am &#8211; 5pm ET (UTC -5). While full coverage is not a requirement, you must be available for a portion of the day.</p>\n<p><strong>Inclusion Statement </strong>At Awesome Motive, we strive to have the broadest possible view of diversity, going beyond visible differences to include the background, experiences, skills, and perspectives that make each person unique. Awesome Motive is proud to be an equal opportunity workplace and is committed to equal employment opportunity regardless of race, color, ancestry, religion, sex, national origin, sexual orientation, age, citizenship, marital status, disability, gender identity, veteran status, or any other basis protected by federal, state, or local law.</p>\n<p><strong>How to apply? </strong>If all of this sounds interesting, then please submit your application!</p>\n<p><strong>Please clearly include the following in your cover letter:</strong></p>\n<ul>\n<li>Do you have experience in creating revenue impact through marketing?</li>\n<li>Do you have experience in directly managing teams?</li>\n<li>Do you have a minimum of 3 years of experience in SaaS marketing?</li>\n<li>What is your proficiency level (from 1 to 5, 5 highest) in programmatic SEO? Share an example of the impact created.</li>\n<li>What is your proficiency in GA4?</li>\n</ul>\n</div>\n</section>",
              "pubDate": "2024-11-15 04:08:32"
            },
            {
              "id": 105069,
              "url": "https://jobicy.com/jobs/105069-paid-search-manager",
              "jobSlug": "105069-paid-search-manager",
              "jobTitle": "Paid Search Manager",
              "companyName": "Wpromote",
              "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2021/08/e1003ec6a2d34525775d0bc7912ced79.jpg",
              "jobIndustry": [
                "Marketing &amp; Sales"
              ],
              "jobType": [
                "full-time"
              ],
              "jobGeo": "USA",
              "jobLevel": "Any",
              "jobExcerpt": "We’re looking for a Paid Search Manager to join the rapidly expanding team that is the backbone of our company. You’ll directly manage search engine marketing (SEM) campaigns across both Google Ads and Microsoft Ads, making optimizations and updates daily. Your complex and diverse portfolio of clients will be a mix of both big and small&#8230;",
              "jobDescription": "<p>We’re looking for a Paid Search Manager to join the rapidly expanding team that is the backbone of our company. You’ll directly manage search engine marketing (SEM) campaigns across both Google Ads and Microsoft Ads, making optimizations and updates daily. Your complex and diverse portfolio of clients will be a mix of both big and small that constantly challenges you, and with extensive experience and/or a proven track record, you could be working with some of our biggest brands. You’ll be trusted to oversee all account activity, collaborate with managers from other channels, and come up with campaign strategies for your book of clients.</p>\n<p>At Wpromote, we believe that great work is only possible with great people. Our goal is to build a better, more inclusive work environment and support our people at every stage of their careers by prioritizing a strong work-life balance through our policies and benefits listed below. As a Best Place to Work according to both Ad Age and Glassdoor and Adweek’s Fastest Growing Digital Agency, we are moving fast to expand our teams and bring new experts into the fold to keep pushing the boundaries of what’s possible in marketing.</p>\n<p><strong>We offer:</strong></p>\n<ul>\n<li>Remote-first culture</li>\n<li>Unlimited PTO</li>\n<li>Extended Holiday break (Winter)</li>\n<li>Flexible schedules</li>\n<li>Work from anywhere options*</li>\n<li>100% paid parental leave</li>\n<li>401(k) matching</li>\n<li>Medical, Dental, Vision, Life, Pet Insurance</li>\n<li>Sponsored life insurance</li>\n<li>Short Term Disability insurance and additional voluntary insurance</li>\n<li>Annual Class Pass credits and more!</li>\n</ul>\n<p>The anticipated annual salary for this role will range from $60,000 &#8211; $85,000, based on a variety of factors unique to each candidate, including skill set, years and depth of experience, education and certifications, competitive benchmarks, scope of responsibility, market dynamics, geographic location, and the respective state’s salary threshold for exempt employees. At Wpromote, pay ranges are subject to change and are based on specific market medians for similar jobs according to third-party salary benchmark surveys. Individual pay within that range can vary due to skills, experience, and available budget.  The total compensation package for this role will include benefits (listed above).</p>\n<p>*This position may be performed remotely in most states within the US, with some exclusions</p>\n<p>**While this role offers the flexibility to work remotely, we have office hubs in Los Angeles, Chicago, and New York, where you can join in on learning and development opportunities, fun events, take advantage of a space to work, and collaborate in person!</p>\n<p>***This position is not eligible for immigration sponsorship</p>\n<p><i>Important Notice: Beware of Job Scams</i></p>\n<h2>You Will Be</h2>\n<ul>\n<li>Planning, developing, and implementing comprehensive paid search strategies to drive direct response and new user acquisition for your book of clients.</li>\n<li>Utilizing business acumen to work closely with client teams to identify and fully understand business needs, campaign performance objectives, and opportunities to grow the relationship and client investments.</li>\n<li>Creating and managing paid search accounts/campaigns via various paid search marketing platforms including but not limited to: Google Ads®, Microsoft Ads®, Criteo®, etc.</li>\n<li>Managing Search, Shopping, Display, Remarketing, App Install and Video advertising campaigns.</li>\n<li>Working with direct response advertising strategies to drive sales revenue and/or qualified leads.</li>\n<li>Conducting keyword research, writing ad copy, and establishing bidding strategies to meet and exceed client KPIs.</li>\n<li>Creating and implementing campaign A/B test experiments to identify optimal campaign settings</li>\n<li>Using Google Analytics to develop insights and action items intended to improve paid search performance and meet client goals.</li>\n<li>Analyzing paid search campaign results and adjust strategy and budgets accordingly.</li>\n<li>Communicating with clients regularly to discuss goals and deliver results.</li>\n<li>Developing strategies across all marketing channels to improve client goals (eg. CPA, ROAS) and achieve maximum efficiency.</li>\n</ul>\n<h2>You Must Have</h2>\n<ul>\n<li>1.5-3 years of experience managing multiple client portfolios in paid search industry</li>\n<li>Excellent verbal and written communication skills</li>\n<li>Excellent analytical skills</li>\n<li>Deep knowledge of the SEM industry and the paid search advertising model</li>\n<li>Experience with keyword research tools and web analytics tools (Google Analytics), as well as how to use these tools in paid search campaigns</li>\n<li>General knowledge of search engine optimization (SEO), social advertising, and web usability</li>\n<li>Strong Microsoft Excel skills: pivot tables, VLOOKUPS and chart building</li>\n<li>Extremely well organized, able to balance client timelines and business needs, possibly across multiple clients</li>\n<li>Work comfortably in dynamic, time-intensive environments where consistent fire drills and competing priorities are commonplace</li>\n<li>An understanding of customer lifetime value and optimizing towards profits based on client margins</li>\n<li>Ability to manage expectations and priorities</li>\n<li>Experience presenting to senior-level client contacts</li>\n<li>Agency experience preferred with managing multiple clients with monthly budgets ranging between $50,000-$500,000 per client</li>\n<li>Experience with Google Suite</li>\n</ul>\n<p>Wpromote is committed to bringing together individuals from different backgrounds and perspectives, providing employees with a safe and welcoming environment free of discrimination and harassment. We strive to create a diverse &amp; inclusive environment where everyone can thrive, feel a sense of belonging, and do impactful work together. As an equal opportunity employer, we prohibit any unlawful discrimination against a job applicant on the basis of their race, color, religion, gender, gender identity, gender expression, sexual orientation, national origin, family or parental status, disability*, age, veteran status, or any other status protected by the laws or regulations in the locations where we operate. We respect the laws enforced by the EEOC and are dedicated to going above and beyond in fostering diversity across our workplace.</p>\n<p>Applicants with disabilities may be entitled to reasonable accommodation under the terms of the Americans with Disabilities Act and certain state or local laws. A reasonable accommodation is a change in the way things are normally done which will ensure an equal employment opportunity without imposing undue hardship on Wpromote.</p>\n<p>This employer participates in E-Verify and will provide the federal government with your Form I-9 information to confirm that you are authorized to work in the U.S. If E-Verify cannot confirm that you are authorized to work, this employer is required to give you written instructions and an opportunity to contact Department of Homeland Security (DHS) or Social Security Administration (SSA) so you can begin to resolve the issue before the employer can take any action against you, including terminating your employment. Employers can only use E-Verify once you have accepted a job offer and completed the Form I-9. For more information on E Verify, or if you believe that your employer has violated its E-Verify responsibilities, please contact DHS.</p>",
              "pubDate": "2024-11-13 04:40:39",
              "annualSalaryMin": "60000",
              "annualSalaryMax": "85000",
              "salaryCurrency": "USD"
            }
          ]
        }
      },
      "Jobs": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Job"
        }
      },
      "Job": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 111984
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://jobicy.com/jobs/111984-manager-digital-marketing"
          },
          "jobSlug": {
            "type": "string",
            "example": "111984-manager-digital-marketing"
          },
          "jobTitle": {
            "type": "string",
            "example": "Manager - Digital Marketing"
          },
          "companyName": {
            "type": "string",
            "example": "CrossFit"
          },
          "companyLogo": {
            "type": "string",
            "format": "uri",
            "example": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2021/12/6966c9ea04a0e651f69f113113a45e27.png"
          },
          "jobIndustry": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Marketing &amp; Sales"
            }
          },
          "jobType": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "full-time"
            }
          },
          "jobGeo": {
            "type": "string",
            "example": "Anywhere"
          },
          "jobLevel": {
            "type": "string",
            "example": "Any"
          },
          "jobExcerpt": {
            "type": "string",
            "example": "CrossFit is looking to hire a Manager, Digital Marketing to join our Marketing team. You will play a pivotal role in shaping and executing CrossFit’s digital initiatives. This position requires a blend of strategic thinking, technical expertise, and hands-on execution to drive impactful outcomes. The ideal candidate will be a visionary leader who can develop&#8230;"
          },
          "jobDescription": {
            "type": "string",
            "example": "<p>CrossFit is looking to hire a Manager, Digital Marketing to join our Marketing team. You will play a pivotal role in shaping and executing CrossFit’s digital initiatives. This position requires a blend of strategic thinking, technical expertise, and hands-on execution to drive impactful outcomes. The ideal candidate will be a visionary leader who can develop and implement digital strategies that align with our business objectives while also rolling up their sleeves to actively participate in execution. This role requires a seasoned digital marketer with a proven track record in planning and implementing successful omnichannel campaigns.</p>\n<h2><b>RESPONSIBILITIES</b></h2>\n<p><strong>Email Marketing:</strong></p>\n<ul>\n<li>Designing and executing email campaigns that nurture leads, engage customers, and drive conversions. Responsibilities include general setup, QA, managing email lists, segmenting audiences, a/b testing, analyzing results, and optimizing performance.</li>\n<li>Collaborate cross-functionally to continuously improve lifecycle marketing strategies and the customer journey.</li>\n<li>Generate reports to track business KPIs and inform strategic decisions.</li>\n</ul>\n<p><strong>Digital Strategy Development:</strong></p>\n<ul>\n<li>Formulate and execute comprehensive digital marketing strategies aligned with business objectives.</li>\n<li>Stay informed about industry trends, emerging technologies, and digital marketing best practices.</li>\n<li>Develop and maintain a deep understanding of consumer behaviors and the CrossFit brand and ensure the digital experience meets customer needs</li>\n</ul>\n<p><strong>Campaign Planning and Execution:</strong></p>\n<ul>\n<li>Plan and execute digital campaigns across various channels, including but not limited to the website, email, SMS, SEO, social media, paid media, and the CrossFit app.</li>\n<li>Collaborate with cross-functional teams to ensure seamless execution of campaigns.</li>\n</ul>\n<p><strong>Content Strategy and Creation:</strong></p>\n<ul>\n<li>Develop and oversee the content strategy for digital channels (email &amp; app), ensuring alignment with brand messaging and campaign goals.</li>\n<li>Collaborate with content creators to produce high-quality and engaging digital content.</li>\n</ul>\n<p><strong>Website Operations &amp; CRO:</strong></p>\n<ul>\n<li>Work in collaboration with Director of Growth Marketing to optimize website content and structure for search engines (SEO)</li>\n<li>Utilize the content management system (CMS) to execute regular content updates for the websites, including building new landing pages.</li>\n<li>Use data to apply insights on customer journey and inform site updates</li>\n<li>Continuously look for ways to optimize conversion and customer experience.</li>\n</ul>\n<p><strong>Paid Media:</strong></p>\n<ul>\n<li>Collaborate with Director of Growth Marketing on optimizing paid marketing campaigns for maximum ROI.</li>\n</ul>\n<p><strong>Collaboration with Stakeholders:</strong></p>\n<ul>\n<li>Collaborate with internal teams, including sales, product, social, and customer service, to align digital marketing efforts with overall business goals.</li>\n<li>Foster strong cross-functional collaboration for successful campaign execution.</li>\n</ul>\n<h2><b>KNOWLEDGE AND SKILL</b></h2>\n<ul>\n<li>Proficient in email marketing platforms (e.g., Braze, Klaviyo, Mailchimp, Constant Contact, etc.) and marketing automation tools.</li>\n<li>Proven leadership, ability to establish and maintain a positive work culture among a team, and ability to communicate effectively to both large and small workgroups.</li>\n<li>Strong understanding of email marketing principles, automation, segmentation, and testing methodologies.</li>\n<li>Excellent copywriting skills with the ability to craft compelling and persuasive email content.</li>\n<li>Analytical mindset with the ability to interpret data and generate actionable insights.</li>\n<li>Familiarity with regulations and best practices related to email marketing compliance.</li>\n<li>The discipline, flexibility, and self-starter mentality required to work as part of a high-performing, distributed team.</li>\n</ul>\n<h2><b>EDUCATION/EXPERIENCE</b></h2>\n<ul>\n<li>Bachelor’s degree in Marketing, Communications, Business, or a related field.</li>\n<li>Previous experience (3+ years) in email marketing, preferably within the health and fitness industry.</li>\n</ul>\n<h2> <b>WHAT WE OFFER</b></h2>\n<ul>\n<li>Rich Medical, Dental, and Vision plans</li>\n<li>Unlimited Paid Time Off––empowering you to unplug whenever and however you need to</li>\n<li>Flexible spending account and 401(k) with employer matching at 5%</li>\n<li>CrossFit Gym Membership Reimbursement</li>\n<li>CrossFit Courses Benefit</li>\n<li>Partnership Perks</li>\n</ul>"
          },
          "pubDate": {
            "type": "string",
            "example": "2024-12-01 04:10:21"
          },
          "annualSalaryMin": {
            "type": "string",
            "example": "67500"
          },
          "annualSalaryMax": {
            "type": "string",
            "example": "79000"
          },
          "salaryCurrency": {
            "type": "string",
            "example": "USD"
          }
        },
        "required": [
          "id",
          "url",
          "jobSlug",
          "jobTitle",
          "companyName",
          "companyLogo",
          "jobIndustry",
          "jobType",
          "jobGeo",
          "jobLevel",
          "jobExcerpt",
          "jobDescription",
          "pubDate"
        ],
        "example": {
          "id": 111984,
          "url": "https://jobicy.com/jobs/111984-manager-digital-marketing",
          "jobSlug": "111984-manager-digital-marketing",
          "jobTitle": "Manager - Digital Marketing",
          "companyName": "CrossFit",
          "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2021/12/6966c9ea04a0e651f69f113113a45e27.png",
          "jobIndustry": [
            "Marketing &amp; Sales"
          ],
          "jobType": [
            "full-time"
          ],
          "jobGeo": "Anywhere",
          "jobLevel": "Any",
          "jobExcerpt": "CrossFit is looking to hire a Manager, Digital Marketing to join our Marketing team. You will play a pivotal role in shaping and executing CrossFit’s digital initiatives. This position requires a blend of strategic thinking, technical expertise, and hands-on execution to drive impactful outcomes. The ideal candidate will be a visionary leader who can develop&#8230;",
          "jobDescription": "<p>CrossFit is looking to hire a Manager, Digital Marketing to join our Marketing team. You will play a pivotal role in shaping and executing CrossFit’s digital initiatives. This position requires a blend of strategic thinking, technical expertise, and hands-on execution to drive impactful outcomes. The ideal candidate will be a visionary leader who can develop and implement digital strategies that align with our business objectives while also rolling up their sleeves to actively participate in execution. This role requires a seasoned digital marketer with a proven track record in planning and implementing successful omnichannel campaigns.</p>\n<h2><b>RESPONSIBILITIES</b></h2>\n<p><strong>Email Marketing:</strong></p>\n<ul>\n<li>Designing and executing email campaigns that nurture leads, engage customers, and drive conversions. Responsibilities include general setup, QA, managing email lists, segmenting audiences, a/b testing, analyzing results, and optimizing performance.</li>\n<li>Collaborate cross-functionally to continuously improve lifecycle marketing strategies and the customer journey.</li>\n<li>Generate reports to track business KPIs and inform strategic decisions.</li>\n</ul>\n<p><strong>Digital Strategy Development:</strong></p>\n<ul>\n<li>Formulate and execute comprehensive digital marketing strategies aligned with business objectives.</li>\n<li>Stay informed about industry trends, emerging technologies, and digital marketing best practices.</li>\n<li>Develop and maintain a deep understanding of consumer behaviors and the CrossFit brand and ensure the digital experience meets customer needs</li>\n</ul>\n<p><strong>Campaign Planning and Execution:</strong></p>\n<ul>\n<li>Plan and execute digital campaigns across various channels, including but not limited to the website, email, SMS, SEO, social media, paid media, and the CrossFit app.</li>\n<li>Collaborate with cross-functional teams to ensure seamless execution of campaigns.</li>\n</ul>\n<p><strong>Content Strategy and Creation:</strong></p>\n<ul>\n<li>Develop and oversee the content strategy for digital channels (email &amp; app), ensuring alignment with brand messaging and campaign goals.</li>\n<li>Collaborate with content creators to produce high-quality and engaging digital content.</li>\n</ul>\n<p><strong>Website Operations &amp; CRO:</strong></p>\n<ul>\n<li>Work in collaboration with Director of Growth Marketing to optimize website content and structure for search engines (SEO)</li>\n<li>Utilize the content management system (CMS) to execute regular content updates for the websites, including building new landing pages.</li>\n<li>Use data to apply insights on customer journey and inform site updates</li>\n<li>Continuously look for ways to optimize conversion and customer experience.</li>\n</ul>\n<p><strong>Paid Media:</strong></p>\n<ul>\n<li>Collaborate with Director of Growth Marketing on optimizing paid marketing campaigns for maximum ROI.</li>\n</ul>\n<p><strong>Collaboration with Stakeholders:</strong></p>\n<ul>\n<li>Collaborate with internal teams, including sales, product, social, and customer service, to align digital marketing efforts with overall business goals.</li>\n<li>Foster strong cross-functional collaboration for successful campaign execution.</li>\n</ul>\n<h2><b>KNOWLEDGE AND SKILL</b></h2>\n<ul>\n<li>Proficient in email marketing platforms (e.g., Braze, Klaviyo, Mailchimp, Constant Contact, etc.) and marketing automation tools.</li>\n<li>Proven leadership, ability to establish and maintain a positive work culture among a team, and ability to communicate effectively to both large and small workgroups.</li>\n<li>Strong understanding of email marketing principles, automation, segmentation, and testing methodologies.</li>\n<li>Excellent copywriting skills with the ability to craft compelling and persuasive email content.</li>\n<li>Analytical mindset with the ability to interpret data and generate actionable insights.</li>\n<li>Familiarity with regulations and best practices related to email marketing compliance.</li>\n<li>The discipline, flexibility, and self-starter mentality required to work as part of a high-performing, distributed team.</li>\n</ul>\n<h2><b>EDUCATION/EXPERIENCE</b></h2>\n<ul>\n<li>Bachelor’s degree in Marketing, Communications, Business, or a related field.</li>\n<li>Previous experience (3+ years) in email marketing, preferably within the health and fitness industry.</li>\n</ul>\n<h2> <b>WHAT WE OFFER</b></h2>\n<ul>\n<li>Rich Medical, Dental, and Vision plans</li>\n<li>Unlimited Paid Time Off––empowering you to unplug whenever and however you need to</li>\n<li>Flexible spending account and 401(k) with employer matching at 5%</li>\n<li>CrossFit Gym Membership Reimbursement</li>\n<li>CrossFit Courses Benefit</li>\n<li>Partnership Perks</li>\n</ul>",
          "pubDate": "2024-12-01 04:10:21"
        }
      }
    },
    "responses": {
      "ListRemoteJobsOkResponse": {
        "description": "TODO",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/JobsResponse"
            },
            "example": {
              "apiVersion": "2.0",
              "documentationUrl": "https://jobi.cy/apidocs",
              "friendlyNotice": "We appreciate your use of Jobicy API in your projects! Please note that our API access is designed primarily to facilitate broader distribution of our content. We kindly request that you refrain from distributing Jobicy’s job listings to any external job platforms, such as Jooble, Google Jobs, and LinkedIn, among others. To ensure that Jobicy is credited as the original source across various platforms, content in the feeds is published with a slight delay. As our data doesn't change frequently, accessing the Feed a few times daily is sufficient and recommended. Be advised that excessive querying may lead to restricted access. Thank you for understanding and cooperating!",
              "jobCount": 8,
              "xRayHash": "xID_6750ed93d2f0c2.10907217",
              "clientKey": "key_6750ed93d2f12",
              "lastUpdate": "2024-12-04 04:11:04",
              "jobs": [
                {
                  "id": 111984,
                  "url": "https://jobicy.com/jobs/111984-manager-digital-marketing",
                  "jobSlug": "111984-manager-digital-marketing",
                  "jobTitle": "Manager - Digital Marketing",
                  "companyName": "CrossFit",
                  "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2021/12/6966c9ea04a0e651f69f113113a45e27.png",
                  "jobIndustry": [
                    "Marketing &amp; Sales"
                  ],
                  "jobType": [
                    "full-time"
                  ],
                  "jobGeo": "Anywhere",
                  "jobLevel": "Any",
                  "jobExcerpt": "CrossFit is looking to hire a Manager, Digital Marketing to join our Marketing team. You will play a pivotal role in shaping and executing CrossFit’s digital initiatives. This position requires a blend of strategic thinking, technical expertise, and hands-on execution to drive impactful outcomes. The ideal candidate will be a visionary leader who can develop&#8230;",
                  "jobDescription": "<p>CrossFit is looking to hire a Manager, Digital Marketing to join our Marketing team. You will play a pivotal role in shaping and executing CrossFit’s digital initiatives. This position requires a blend of strategic thinking, technical expertise, and hands-on execution to drive impactful outcomes. The ideal candidate will be a visionary leader who can develop and implement digital strategies that align with our business objectives while also rolling up their sleeves to actively participate in execution. This role requires a seasoned digital marketer with a proven track record in planning and implementing successful omnichannel campaigns.</p>\n<h2><b>RESPONSIBILITIES</b></h2>\n<p><strong>Email Marketing:</strong></p>\n<ul>\n<li>Designing and executing email campaigns that nurture leads, engage customers, and drive conversions. Responsibilities include general setup, QA, managing email lists, segmenting audiences, a/b testing, analyzing results, and optimizing performance.</li>\n<li>Collaborate cross-functionally to continuously improve lifecycle marketing strategies and the customer journey.</li>\n<li>Generate reports to track business KPIs and inform strategic decisions.</li>\n</ul>\n<p><strong>Digital Strategy Development:</strong></p>\n<ul>\n<li>Formulate and execute comprehensive digital marketing strategies aligned with business objectives.</li>\n<li>Stay informed about industry trends, emerging technologies, and digital marketing best practices.</li>\n<li>Develop and maintain a deep understanding of consumer behaviors and the CrossFit brand and ensure the digital experience meets customer needs</li>\n</ul>\n<p><strong>Campaign Planning and Execution:</strong></p>\n<ul>\n<li>Plan and execute digital campaigns across various channels, including but not limited to the website, email, SMS, SEO, social media, paid media, and the CrossFit app.</li>\n<li>Collaborate with cross-functional teams to ensure seamless execution of campaigns.</li>\n</ul>\n<p><strong>Content Strategy and Creation:</strong></p>\n<ul>\n<li>Develop and oversee the content strategy for digital channels (email &amp; app), ensuring alignment with brand messaging and campaign goals.</li>\n<li>Collaborate with content creators to produce high-quality and engaging digital content.</li>\n</ul>\n<p><strong>Website Operations &amp; CRO:</strong></p>\n<ul>\n<li>Work in collaboration with Director of Growth Marketing to optimize website content and structure for search engines (SEO)</li>\n<li>Utilize the content management system (CMS) to execute regular content updates for the websites, including building new landing pages.</li>\n<li>Use data to apply insights on customer journey and inform site updates</li>\n<li>Continuously look for ways to optimize conversion and customer experience.</li>\n</ul>\n<p><strong>Paid Media:</strong></p>\n<ul>\n<li>Collaborate with Director of Growth Marketing on optimizing paid marketing campaigns for maximum ROI.</li>\n</ul>\n<p><strong>Collaboration with Stakeholders:</strong></p>\n<ul>\n<li>Collaborate with internal teams, including sales, product, social, and customer service, to align digital marketing efforts with overall business goals.</li>\n<li>Foster strong cross-functional collaboration for successful campaign execution.</li>\n</ul>\n<h2><b>KNOWLEDGE AND SKILL</b></h2>\n<ul>\n<li>Proficient in email marketing platforms (e.g., Braze, Klaviyo, Mailchimp, Constant Contact, etc.) and marketing automation tools.</li>\n<li>Proven leadership, ability to establish and maintain a positive work culture among a team, and ability to communicate effectively to both large and small workgroups.</li>\n<li>Strong understanding of email marketing principles, automation, segmentation, and testing methodologies.</li>\n<li>Excellent copywriting skills with the ability to craft compelling and persuasive email content.</li>\n<li>Analytical mindset with the ability to interpret data and generate actionable insights.</li>\n<li>Familiarity with regulations and best practices related to email marketing compliance.</li>\n<li>The discipline, flexibility, and self-starter mentality required to work as part of a high-performing, distributed team.</li>\n</ul>\n<h2><b>EDUCATION/EXPERIENCE</b></h2>\n<ul>\n<li>Bachelor’s degree in Marketing, Communications, Business, or a related field.</li>\n<li>Previous experience (3+ years) in email marketing, preferably within the health and fitness industry.</li>\n</ul>\n<h2> <b>WHAT WE OFFER</b></h2>\n<ul>\n<li>Rich Medical, Dental, and Vision plans</li>\n<li>Unlimited Paid Time Off––empowering you to unplug whenever and however you need to</li>\n<li>Flexible spending account and 401(k) with employer matching at 5%</li>\n<li>CrossFit Gym Membership Reimbursement</li>\n<li>CrossFit Courses Benefit</li>\n<li>Partnership Perks</li>\n</ul>",
                  "pubDate": "2024-12-01 04:10:21"
                },
                {
                  "id": 111786,
                  "url": "https://jobicy.com/jobs/111786-account-manager-3",
                  "jobSlug": "111786-account-manager-3",
                  "jobTitle": "Account Manager",
                  "companyName": "Scorpion",
                  "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2021/11/5d0f5219d1a5557d70758202f92e0076.png",
                  "jobIndustry": [
                    "Sales"
                  ],
                  "jobType": [
                    "full-time"
                  ],
                  "jobGeo": "USA",
                  "jobLevel": "Any",
                  "jobExcerpt": "Scorpion is the leading provider of technology and services helping local businesses thrive. We do this by helping customers understand local market dynamics, make the most of their marketing, and deliver experiences their customers will love. We offer tools to know what’s going on with marketing, competitors, and customers. We offer a unique blend of&#8230;",
                  "jobDescription": "<div>\n<div>Scorpion is the leading provider of technology and services helping local businesses thrive. We do this by helping customers understand local market dynamics, make the most of their marketing, and deliver experiences their customers will love. We offer tools to know what’s going on with marketing, competitors, and customers. We offer a unique blend of AI support and teams of real human people with local expertise committed to customer success. At Scorpion, we are ready to do whatever it takes to help our clients reach their goals. Our technology and personalized tools bring everything together to help local businesses easily understand their unique business, market, and customer needs. We put SEO, Reviews, Advertising, Email Marketing, Chat and Messaging, Social Media, Website, Lead Management, Appointment Scheduling, and more to work for local businesses. We’re a technology-led service with a human touch.</div>\n</div>\n<div>\n<h2>About the Role:</h2>\n<p>We are dedicated to providing top-notch marketing and digital solutions to enhance our clients&#8217; online presence and business growth. Our team is expanding, and we are looking for a dynamic Account Manager to join our Legal Service team. The ideal candidate will bring a mix of marketing expertise, account management skills, and a passion for delivering exceptional client service.</p>\n<h2>What your success will look like:</h2>\n<ul>\n<li>Manage and grow relationships with existing clients, understanding their needs and delivering customized marketing solutions.</li>\n<li>Drive upselling and cross-selling efforts to maximize account growth and client satisfaction.</li>\n<li>Develop and execute SEO &amp; SEM strategies to improve client visibility and performance in search engine results.</li>\n<li>Work closely with the creative team to oversee the development and execution of marketing campaigns, ensuring they are delivered on time, within budget, and to the client&#8217;s satisfaction.</li>\n<li>Maintain up-to-date knowledge of digital marketing trends and social media platforms to advise clients effectively.</li>\n<li>Conduct regular reviews and reports on account performance, providing insights and recommendations for further improvement.</li>\n<li>Be a proactive liaison between the client and internal teams, ensuring clear communication and seamless project execution.</li>\n<li>Demonstrate a willingness to learn and adapt to new programs and technologies to stay ahead in the industry.</li>\n</ul>\n<h2>Who you are and what you bring:</h2>\n<ul>\n<li>2+ years of work experience in account management or client service, preferably within a marketing agency or a digital marketing company.</li>\n<li>Proven track record of upselling and growing client accounts.</li>\n<li>Solid understanding of SEO &amp; SEM strategies and their implementation in marketing campaigns.</li>\n<li>A proactive approach to managing creative projects, with the ability to anticipate needs and offer solutions.</li>\n<li>Excellent attention to detail, with a keen understanding of budget constraints and project management.</li>\n<li>Working knowledge of social media platforms and how they can be leveraged in marketing strategies.</li>\n<li>Eagerness to learn and master new programs and technologies.</li>\n<li>Strong interpersonal skills, with a personable and professional demeanor, to build and maintain client rapport.</li>\n</ul>\n<h2>Our Scorpion Values:</h2>\n<p><strong>Winning Mindset:</strong>  When our clients win, we win.<br />\n<strong>Genuine Care:</strong>  We only succeed when we are truly invested in our clients and each other.<br />\n<strong>Unmatched Results:</strong>  We deliver more than expected–and then some–driving the best results and impacting lives.<br />\n<strong>Constant Improvement:</strong>  We believe there is always a better way. We learn we ask “What if?” we build and then do it again.<br />\n<strong>Unbeatable Teamwork:</strong>  We come from different backgrounds but have the same vision. We only get there by doing it together, as a team.</p>\n<h2>Our Benefits:</h2>\n<p>We invest in our employees by offering them diverse benefits from best-in-class carriers. These benefits provide enough choice and flexibility to keep our employees and their families healthy and happy —  today and tomorrow.</p>\n<ul>\n<li>100% employer-paid medical, dental, and vision insurance</li>\n<li>Flexible paid time off, so you can rest, relax and recharge away from work</li>\n<li>Employee equity program</li>\n<li>Paid parental leave</li>\n<li>Paid cell phone and service</li>\n<li>Remote office allowance</li>\n<li>Professional development and development courses</li>\n<li>Regular manager check-ins to drive performance and career growth through Lattice</li>\n</ul>\n<h2>Compensation:</h2>\n<p>We acknowledge that states have passed legislation promoting pay transparency. As a national employer, Scorpion has made the decision to post our expected pay rate or pay range (as applicable) in all our job postings, regardless of geographic location.</p>\n<ul>\n<li>The base salary range is $67,500 (entry-level) &#8211; $79,000 (highly experienced), exclusive of fringe benefits. If you are hired at Scorpion, your final base salary compensation will be determined based on factors such as geographic location, skills, education, and/or experience. Additionally, we believe in the importance of pay equity and consider the internal equity of our current team members as a part of any final offer. Please keep in mind that the range mentioned above is the total salary range for the role. Hiring at the maximum of the range would not be typical in order to allow for future &amp; continued salary growth. The compensation package may also include incentive compensation opportunities in the form of discretionary bonuses or commissions.</li>\n<li data-stringify-indent=\"0\" data-stringify-border=\"0\">The compensation package may also include incentive compensation opportunities in the form of discretionary bonuses or commissions.</li>\n</ul>\n</div>\n<div>\n<div>Scorpion is an equal opportunity employer and considers applicants for all positions without regard to race, color, religion or belief, sex, age, national origin, citizenship status, marital status, military/veteran status, genetic information, sexual orientation, gender identity, or physical or mental disability. We believe in creating a dynamic work environment that values diversity and inclusion</div>\n</div>",
                  "pubDate": "2024-11-23 04:41:22",
                  "annualSalaryMin": "67500",
                  "annualSalaryMax": "79000",
                  "salaryCurrency": "USD"
                },
                {
                  "id": 111788,
                  "url": "https://jobicy.com/jobs/111788-product-marketing-manager-2",
                  "jobSlug": "111788-product-marketing-manager-2",
                  "jobTitle": "Product Marketing Manager",
                  "companyName": "Astronomer",
                  "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2022/08/7a77cfb5b26b29196d5ed8cd14a3103a.jpg",
                  "jobIndustry": [
                    "Marketing &amp; Sales"
                  ],
                  "jobType": [
                    "full-time"
                  ],
                  "jobGeo": "USA",
                  "jobLevel": "Any",
                  "jobExcerpt": "The Product Marketing team is part of our high-growth Marketing organization which is focused on driving the overall growth strategy through content, launches, sales enablement and strategic GTM activities. We ensure our programs and activities consistently drive activation, engagement, and retention through collaboration with teams like Product Management, Growth, Demand Generation and Sales. We are&#8230;",
                  "jobDescription": "<p>The Product Marketing team is part of our high-growth Marketing organization which is focused on driving the overall growth strategy through content, launches, sales enablement and strategic GTM activities. We ensure our programs and activities consistently drive activation, engagement, and retention through collaboration with teams like Product Management, Growth, Demand Generation and Sales.</p>\n<p>We are looking for an experienced and skilled product marketer who will be a key member of the Product Marketing team. In this role, you will be responsible for shaping messaging for the data practitioner audience, driving product and feature launches, competitive intel and GTM content strategy across our products.</p>\n<p>Your work will ensure that prospects and customers know that Airflow is crucial to their data ecosystem, why Astro is the modern platform for DataOps and the best place to run Airflow, and how to get started.</p>\n<p>This role will be based in the US (NYC preferable), with the option to be fully remote or work in one of our offices.</p>\n<h2><strong>What you get to do</strong></h2>\n<ul>\n<li>Messaging and Positioning: Develop compelling messaging, articulate product differentiation and our unique positioning in the market</li>\n<li>Launches: Partner closely with Product Management in defining feature releases. Plan and execute end to end launches of these features to market alongside Demand Generation and Sales.</li>\n<li>Content: Work closely with teams such as Developer Relations, Product Management, Demand Generation, Web, SEO, Sales and Partner Marketing to identify gaps and develop high-quality technical content.</li>\n<li>Field Enablement: Create product and technical enablement content to help field sales teams prospect, generate pipeline, and educate buyers about our differentiation</li>\n<li>Event support: Drive messaging and content for events. Represent the respective product area at field events and meetups.</li>\n<li>Competitive Intelligence: Analyze the industry, synthesize key market trends, research relevant competitors and create succinct sales consumable battlecards</li>\n</ul>\n<h2><strong>What you bring to the role</strong></h2>\n<ul>\n<li><strong>5+ years of relevant work experience (product marketing or product management in the data infrastructure, database management, data engineering or similar space)</strong></li>\n<li>BA/BS degree preferred, but relevant experience will be equally considered</li>\n<li>Ideally, experience with or understanding of workflow management, pipeline development, ETL and/or SDLC.</li>\n<li>The ability to clearly articulate the value of a product or service to technical customers</li>\n<li>Experience leading product or feature launches and contributing to larger launches with a team</li>\n<li>A collaborative spirit, sense of ownership, and willingness to learn</li>\n</ul>\n<h2>Bonus points if you have</h2>\n<ul>\n<li>Familiarity with or knowledge of Airflow and/or similar data products</li>\n<li>Familiarity with Data Engineering, ETL, Observability, DBMS or Data Warehousing products</li>\n<li>Experience with commercializing open-source offerings</li>\n<li>Experience with a developer-focused product</li>\n<li>Experience with or knowledge of cloud computing, CI/CD and modern data engineering best practices</li>\n<li>MBA or Masters in Computer Science, Data Science, Product Management or other Graduate degree</li>\n</ul>\n<p><em>The estimated salary for this role ranges from $125,000 &#8211; $150,000, along with an equity component. This range is merely an estimate, and the width of the range reflects willingness to consider candidates with broad prior seniority. Actual compensation may deviate from this range based on skills, experience, and qualifications</em></p>",
                  "pubDate": "2024-11-23 04:33:28",
                  "annualSalaryMin": "125000",
                  "annualSalaryMax": "150000",
                  "salaryCurrency": "USD"
                },
                {
                  "id": 108626,
                  "url": "https://jobicy.com/jobs/108626-b2b-product-marketing-manager",
                  "jobSlug": "108626-b2b-product-marketing-manager",
                  "jobTitle": "B2B Product Marketing Manager",
                  "companyName": "WorkWhile",
                  "companyLogo": "https://jobicy.com/data/server-nyc0409/galaxy/mercury/2020/10/WRILS-201029094500-271242.jpg",
                  "jobIndustry": [
                    "Marketing &amp; Sales",
                    "Product &amp; Operations"
                  ],
                  "jobType": [
                    "full-time"
                  ],
                  "jobGeo": "USA",
                  "jobLevel": "Any",
                  "jobExcerpt": "WorkWhile hires the best hourly workers and matches them with shifts that fit their skills, location, and life. Employers get access to a quality workforce, while employees get stable income and unmatched benefits, including next-day pay, free virtual healthcare, and upskilling opportunities. We have the audacious goal to align incentives and solve inefficiencies in the&#8230;",
                  "jobDescription": "<p>WorkWhile hires the best hourly workers and matches them with shifts that fit their skills, location, and life. Employers get access to a quality workforce, while employees get stable income and unmatched benefits, including next-day pay, free virtual healthcare, and upskilling opportunities.</p>\n<p>We have the audacious goal to align incentives and solve inefficiencies in the labor market, which is a massive addressable market opportunity as recruiting and staffing is a $450 billion annual revenue industry.</p>\n<p>With a small team, we’ve grown extremely fast and earned the trust of both workers and businesses that range from startups to Fortune 500&#8217;s. We see ourselves as a scrappy upstart and delight in outcompeting larger incumbents. Our ambition is that when we succeed, our impact will be measured in GDP growth &#8211; that’s the scale.</p>\n<p>WorkWhile is an Equal Opportunity Employer. Women, minorities, individuals with disabilities and protected veterans are encouraged to apply.</p>\n<h2><strong>About the role</strong></h2>\n<ul>\n<li>Join us as our first B2B marketing hire!</li>\n<li>Develop and implement our B2B product marketing strategy to enhance customer acquisition, retention, and revenue growth, while promoting our flexible workforce solutions</li>\n<li>Define and manage our product positioning, messaging, and value proposition, ensuring a strong appeal to our vision of shaping the future of work</li>\n<li>Create engaging product-focused content and persuasive storytelling that resonates with our diverse audience and communicates our value proposition in offering flexible talent management solutions</li>\n<li>Equip the sales team with effective product-related sales enablement materials, including presentations, case studies, and demo scripts to support their efforts in closing deals</li>\n<li>Collaborate with our product team to plan and execute go-to-market strategies for new products, features, and enhancements, ensuring a successful launch and adoption</li>\n<li>Utilize data and analytics to track product adoption, gather customer insights, and inform marketing decisions, continuously refining our product marketing approach</li>\n<li>Develop and manage relationships with external vendors, agencies, and partners to expand our network and support product marketing initiatives</li>\n<li>Conduct market and competitor research to identify trends, opportunities, and threats, and use insights to inform product marketing strategies</li>\n<li>Generate a consistent flow of inbound leads through various channels, such as SEO, SEM, social media, email marketing, and content marketing, focusing on product promotion</li>\n<li>Manage and optimize lead generation campaigns, including email campaigns, webinars, events, and other strategic initiatives related to our products</li>\n</ul>\n<h2><strong>About you</strong></h2>\n<ul>\n<li>Bachelor&#8217;s degree</li>\n<li>5+ years of experience in B2B marketing, with a focus on product marketing, preferably within a startup or high-growth environment</li>\n<li>Exceptional storytelling and copywriting skills, fostering connection and engagement</li>\n<li>Highly analytical mindset, with the ability to use data to drive decision-making</li>\n<li>Familiarity with SEO, SEM, and other digital marketing channels and tactics</li>\n<li>Outstanding project management skills, with the capacity to manage multiple projects simultaneously</li>\n<li>Resourceful and adaptive, thriving in a fast-paced, dynamic environment</li>\n<li>Excellent interpersonal skills, fostering collaboration and inclusivity across diverse teams</li>\n<li>Committed to our mission of improving the lives of hourly workers</li>\n</ul>",
                  "pubDate": "2024-11-20 05:10:37"
                },
                {
                  "id": 110777,
                  "url": "https://jobicy.com/jobs/110777-growth-marketing-manager-paid-social",
                  "jobSlug": "110777-growth-marketing-manager-paid-social",
                  "jobTitle": "Growth Marketing Manager, SEO",
                  "companyName": "Thumbtack",
[...]
